In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [13]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression, default activation=linear
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [15]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [16]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 100378.8438 - mae: 100378.8438 - val_loss: 98522.8438 - val_mae: 98522.8438
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99678.7578 - mae: 99678.7578 - val_loss: 97107.8281 - val_mae: 97107.8281
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 97240.2266 - mae: 97240.2266 - val_loss: 93503.6328 - val_mae: 93503.6328
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 92439.4219 - mae: 92439.4219 - val_loss: 87461.1875 - val_mae: 87461.1875
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 85346.1250 - mae: 85346.1250 - val_loss: 79564.7344 - val_mae: 79564.7344
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 76874.7969 - mae: 76874.7969 - val_loss: 71086.3281 - val_mae: 71086.3281
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 68326.3594 - mae: 68326.3594 - val_loss: 63344.2383 - val_mae: 63344.2383
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 61028.2461 - mae: 61028.2461 - val_loss: 57384.8906 - val_mae: 57384.8906
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 55970.5781 - mae: 55970.5781 - val_loss: 53694.5156 - val_mae: 53694.5156
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 52975.8750 - mae: 52975.8750 - val_loss: 51830.4258 - val_mae: 51830.4258
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 51494.1875 - mae: 51494.1875 - val_loss: 51058.5352 - val_mae: 51058.5352
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50836.5234 - mae: 50836.5234 - val_loss: 50808.2070 - val_mae: 50808.2070
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 50560.4531 - mae: 50560.4531 - val_loss: 50710.1328 - val_mae: 50710.1328
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 50413.5117 - mae: 50413.5117 - val_loss: 50663.4961 - val_mae: 50663.4961
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 50317.5352 - mae: 50317.5352 - val_loss: 50631.3477 - val_mae: 50631.3477
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 50242.7773 - mae: 50242.7773 - val_loss: 50595.6836 - val_mae: 50595.6836
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 50182.7188 - mae: 50182.7188 - val_loss: 50554.8555 - val_mae: 50554.8555
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 50136.0703 - mae: 50136.0703 - val_loss: 50514.3359 - val_mae: 50514.3359
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 50090.3477 - mae: 50090.3477 - val_loss: 50485.9062 - val_mae: 50485.9062
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 50054.6250 - mae: 50054.6250 - val_loss: 50456.6523 - val_mae: 50456.6523
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 50016.0586 - mae: 50016.0586 - val_loss: 50427.9961 - val_mae: 50427.9961
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49981.1836 - mae: 49981.1836 - val_loss: 50402.1992 - val_mae: 50402.1992
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 49950.6875 - mae: 49950.6875 - val_loss: 50379.0352 - val_mae: 50379.0352
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 49919.5859 - mae: 49919.5859 - val_loss: 50360.6953 - val_mae: 50360.6953
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49888.5977 - mae: 49888.5977 - val_loss: 50348.4648 - val_mae: 50348.4648
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49864.1602 - mae: 49864.1602 - val_loss: 50324.2070 - val_mae: 50324.2070
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49839.3125 - mae: 49839.3125 - val_loss: 50309.7031 - val_mae: 50309.7031
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49816.5117 - mae: 49816.5117 - val_loss: 50299.1406 - val_mae: 50299.1406
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49792.5664 - mae: 49792.5664 - val_loss: 50283.9141 - val_mae: 50283.9141
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 49773.0234 - mae: 49773.0234 - val_loss: 50279.0000 - val_mae: 50279.0000
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 49752.3242 - mae: 49752.3242 - val_loss: 50270.4648 - val_mae: 50270.4648
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 49733.5664 - mae: 49733.5664 - val_loss: 50262.4727 - val_mae: 50262.4727
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 49718.2305 - mae: 49718.2305 - val_loss: 50250.6680 - val_mae: 50250.6680
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49698.6484 - mae: 49698.6484 - val_loss: 50243.7891 - val_mae: 50243.7891
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 49686.9141 - mae: 49686.9141 - val_loss: 50242.4258 - val_mae: 50242.4258
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 49671.3828 - mae: 49671.3828 - val_loss: 50241.6797 - val_mae: 50241.6797
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49659.0586 - mae: 49659.0586 - val_loss: 50233.6484 - val_mae: 50233.6484
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 49644.7188 - mae: 49644.7188 - val_loss: 50232.2344 - val_mae: 50232.2344
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 49633.5938 - mae: 49633.5938 - val_loss: 50234.0742 - val_mae: 50234.0742
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 49616.9961 - mae: 49616.9961 - val_loss: 50227.9297 - val_mae: 50227.9297
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 49609.0625 - mae: 49609.0625 - val_loss: 50222.0156 - val_mae: 50222.0156
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 49601.4961 - mae: 49601.4961 - val_loss: 50219.3477 - val_mae: 50219.3477
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 49587.4336 - mae: 49587.4336 - val_loss: 50225.7617 - val_mae: 50225.7617
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 49575.2109 - mae: 49575.2109 - val_loss: 50216.8203 - val_mae: 50216.8203
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 49566.4688 - mae: 49566.4688 - val_loss: 50216.5859 - val_mae: 50216.5859
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 49560.6016 - mae: 49560.6016 - val_loss: 50213.9883 - val_mae: 50213.9883
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 49552.2656 - mae: 49552.2656 - val_loss: 50209.4727 - val_mae: 50209.4727
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 49542.3047 - mae: 49542.3047 - val_loss: 50214.4453 - val_mae: 50214.4453
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 49535.8438 - mae: 49535.8438 - val_loss: 50216.9062 - val_mae: 50216.9062
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49526.3789 - mae: 49526.3789 - val_loss: 50204.4648 - val_mae: 50204.4648
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 49518.5977 - mae: 49518.5977 - val_loss: 50214.5781 - val_mae: 50214.5781
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 49508.8086 - mae: 49508.8086 - val_loss: 50205.0625 - val_mae: 50205.0625
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 49504.1211 - mae: 49504.1211 - val_loss: 50215.3906 - val_mae: 50215.3906
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 49495.9453 - mae: 49495.9453 - val_loss: 50212.7422 - val_mae: 50212.7422
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 49494.9766 - mae: 49494.9766 - val_loss: 50209.2148 - val_mae: 50209.2148
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 49487.3438 - mae: 49487.3438 - val_loss: 50197.3359 - val_mae: 50197.3359
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 49480.8477 - mae: 49480.8477 - val_loss: 50211.7578 - val_mae: 50211.7578
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 49475.4297 - mae: 49475.4297 - val_loss: 50212.9336 - val_mae: 50212.9336
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 49470.5938 - mae: 49470.5938 - val_loss: 50200.3164 - val_mae: 50200.3164
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 49459.8633 - mae: 49459.8633 - val_loss: 50207.9453 - val_mae: 50207.9453
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 49455.0508 - mae: 49455.0508 - val_loss: 50218.0273 - val_mae: 50218.0273
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 49451.5547 - mae: 49451.5547 - val_loss: 50209.7969 - val_mae: 50209.7969
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 49446.8008 - mae: 49446.8008 - val_loss: 50214.1328 - val_mae: 50214.1328
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 49438.8789 - mae: 49438.8789 - val_loss: 50213.2031 - val_mae: 50213.2031
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 49433.2539 - mae: 49433.2539 - val_loss: 50210.4336 - val_mae: 50210.4336
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 49428.9062 - mae: 49428.9062 - val_loss: 50217.2188 - val_mae: 50217.2188

In [17]:
%load_ext tensorboard

In [19]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 22084), started 0:24:11 ago. (Use '!kill 22084' to kill it.)